.App{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.AppHeader{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px 4px 12px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.09); */
}

.SideMenuAndPageContent{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #F5F5F9;
}
.SideMenu{
  height: 100%;
}
.SideMenuVertical{
  height: 100%;
}
.PageContent{
  padding-left: 50px;
}

.AppFooter{
height: 50px;
display: flex;
justify-content: space-evenly;
align-items: center;
border-top: 1px solid rgba(0, 0, 0, 0.15);

}

.ant-table-thead .ant-table-cell {
  background-color: green;
}

.table {
  display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;

}

 #checkbox:checked ~ .bg-white {
    background-color: #fdede1;
  }
  .scale-color::-webkit-slider-thumb {
    background-color: #f7af7a;
  }
  .scale-color::-moz-range-thumb {
    background-color: #f7af7a;
  }
